.text-box {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

#hvasomhelst{
    max-width: 50rem;
    font-size: 2rem;
    margin: 0;
}
 
 .textcontainer{
    display: flex; flex-direction: column;
    gap: 2rem;
    margin: 3rem;
 }

 